@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Titillium+Web:wght@400;600;700&display=swap");

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100vh;
  font-family: "Roboto", sans-serif;
}

* {
  outline: solid red 1px;
}

.sidebar {
  background-color: rgb(0, 162, 255);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr repeat(20, 1fr);
  color: white;
  font-weight: 700;
}

.sidebar img {
  filter: invert(100);
  max-height: 1rem;
}

.right-screen {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.searchbar {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr 0.25fr 0.25fr 1fr;
  align-items: center;
}

.searchbar img {
  max-height: 1rem;
}

.searchbar input {
  background-color: rgb(222, 222, 222);
  border-radius: 10px;
  border: none;
  max-height: 1rem;
}

.bottombar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.bottombar button {
  background-color: rgb(0, 162, 255);
  color: white;
  border-radius: 10px;
  border: none;
  max-height: 1.5rem;
}
.main-content {
  background-color: rgb(219, 219, 219);
}
