@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Titillium+Web:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(219, 219, 219);
}

/* * {
  outline: solid red 1px;
} */

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  background-color: rgb(0, 162, 255);
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  row-gap: 20px;
  color: white;
  font-weight: 700;
  min-width: 200px;
  font-size: 1.2rem;
  height: 100vh;
}

.sidebar > div > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar img {
  filter: invert(100);
  width: 40px;
  height: 25px;
  justify-self: center;
}

.dashboard {
  font-size: 1.5rem;
  margin-top: 20px;
}

img.dashboard {
  height: 60px;
}

.right-screen {
  display: grid;
  grid-template-rows: 150 700px;
}

.header {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  position: relative;
}

.searchbar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 100px;
  align-items: center;
}

.searchbar > div {
  display: flex;
}

.searchbar > div:nth-child(2) {
  justify-content: flex-end;
  align-items: center;
}

.searchbar > div:nth-child(2) > * {
  margin-right: 30px;
}
.searchbar img {
  max-height: 30px;
}

.searchbar input {
  background-color: rgb(222, 222, 222);
  border-radius: 20px;
  border: none;
  flex: 1;
  margin-left: 15px;
}

.bottombar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bottombar > div {
  display: flex;
  align-items: center;
}

.bottombar > div:nth-child(1) > div > div:nth-child(1) {
  font-size: 0.8rem;
  font-weight: 700;
}

.bottombar > div:nth-child(1) > div > div:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
}
.bottombar > div:nth-child(2) {
  justify-content: flex-end;
}

.bottombar > div:nth-child(2) > * {
  margin-right: 30px;
  flex: 1;
}

.bottombar img {
  max-height: 80px;
  margin-right: 10px;
}

.bottombar button {
  background-color: rgb(0, 162, 255);
  color: white;
  border-radius: 20px;
  border: none;
  max-width: 90px;
  height: 35px;
  font-weight: 700;
}

.main-content {
  background-color: rgb(219, 219, 219);
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  padding: 20px 20px 50px 20px;
  /* height: 400px; */
}

.main-left {
  display: grid;
  grid-template-rows: 1rem auto;
}

.projects {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin-right: 20px;
}

.projects > div {
  background-color: white;
  border-radius: 5px;
  border-left: orange solid 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  padding: 20px;
}

.projects > div > div:nth-child(1) {
  margin-bottom: 20px;
}

.projects > div > div:nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: end;
}

.projects img {
  max-height: 1.5rem;
  margin-left: 10px;
  filter: invert(0.3);
}

.main-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.subheading {
  font-weight: 700;
  padding-bottom: 20px;
}

.announcements {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  padding: 10px 30px 10px 30px;
  font-size: 0.8rem;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.announcements hr {
  border-top: solid 1px rgb(211, 211, 211);
  width: 100%;
}

.trending {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
  padding: 20px;
}

.trending > div {
  display: flex;
  font-size: 0.8rem;
}

.trending img {
  width: 30%;
  max-height: 40px;
  margin-right: 20px;
}
